:root {
    --blue: #003F5C;
    --dark-purple: #58508D;
    --light-purple: #BC5090;
    --pink: #FF6361;
    --orange: #FFA600;
  }

  @font-face {
    font-family: 'Myriad';
    /* src: url('./assets/font/1.otf') format('opentype'); */
    src: url('./assets/font/WhiteRabbit-47pD.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .body{
    margin: 0;
  }