<div class="container">
    <div class="content">
        <div class="line" ></div>
        <div class="text">
            <div class="quote">  <p>"a man can do all things if he will."-Leon Battista Alberti</p></div>
            <div class="expertise">My spectrum of expertise</div>
            <div class="buttons">
                <div class="button">
                    <div class="sphere"></div>
                    <div>PLACEHOLDER</div>

                </div>
            </div>
        </div>
    </div>
    
</div>