.sticky{
    height: 400vh;
    margin-top: 150vh;
    overflow: visible;
}
.container{
    position: sticky;


    height: 100dvh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;

    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20%;
    z-index: 100;
    box-sizing: border-box;

}
.content{
    display: flex;
    flex-direction: row;
}
.line{
    width: 0.30vh;
    background-color: var(--orange) !important;
    height: 50vh;
    max-height: 60dvh;
    border-radius: 2vh;

}
div{
    color: var(--orange);
    font-family: 'Myriad';
}
.expertise{
    isolation: isolate;
    color: white;
    font-size: 5vh;

}
.text{

    padding-left: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.quote{
    display: flex;
    font-size: 1.8vh;
}
.white{
    color:white;
}
.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 4vh;
}
.button .sphere{
    width: 2vh;
    height: 2vh;
    position: absolute;
    margin-left: -37vh;
    margin-bottom: -20vh;
    background-color: white;
    border-radius: 50%;
   
}
.button{

    width: fit-content;
    margin-right: 1.4vh;
    height: 7vh;
    font-size: 24vh;

}
.button .sphere{
    margin-bottom: -10vh;
    margin-left: -25vh;
}
.button:hover .sphere{
    width: 100vh ;
    height: 100vh;
}
.button:hover {
    color: black;
    transition: box-shadow 0.25s ease-in-out,color 0.5s ease-in-out;

}
.button:hover .sphere{
    width: 100vh ;
    height: 100vh;
    transition: width 0.5s ease-in-out, height 0.5s ease-out;

}

.sphere{
    transition: width 0.5s ease-out, height 0.5s ease-out;
    position: absolute;
}

.buttonText{
    position: relative;
    color: white;

}
.button:hover .buttonText{
    position: relative;
    
    z-index: 100;
    color: var(--orange);
}
.button{
    padding-left: 3vh;
    padding-right: 3vh;
    animation: fadeInfo 2.1s 0.4s ease-out;
    transition: box-shadow 0.25s ease-in-out,color 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: var(--orange);
    color: black !important;
    width: fit-content;
    height: 8vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.2vh;
    margin-bottom: 2vh;
    font-variation-settings: 'wght' 500, 'wdth' 90;
    
}