
<div class="sticky">
<div class="container olc">
    <div class="content">
        <div class="line" ></div>
        <div class="text">
            <div class="quote">  <p>"a man can do all things if he will."-Leon Battista Alberti</p></div>
            <div class="expertise">My spectrum of expertise</div>
            <div class="buttons">
                <div class="button">
                    <div class="sphere"></div>
                    <div class="buttonText">PLACEHOLDER</div>
                </div>
                <div class="button">
                    <div class="sphere"></div>
                    <div class="buttonText">PLACEER</div>
                </div>
                <div class="button">
                    <div class="sphere"></div>
                    <div class="buttonText">PLADWADR</div>
                </div>
                <div class="button">
                    <div class="sphere"></div>
                    <div class="buttonText">PLADAWDER</div>
                </div>
                <div class="button">
                    <div class="sphere"></div>
                    <div class="buttonText">PLACEHO  DAWDLDER</div>
                </div>
                <div class="button">
                    <div class="sphere"></div>
                    <div class="buttonText">PLACLDER</div>
                </div>
                <div class="button">
                    <div class="sphere"></div>
                    <div class="buttonText">PLACEHOLDER</div>
                </div>
                <div class="button">
                    <div class="sphere"></div>
                    <div class="buttonText">PLACEHOL  DER</div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>